extends layout

block content
    h1 Update book

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="/update", method="POST")
        .form-group
            label(for="tittle") ID
            input.form-control(type="text", name="id", required="required")
        .form-group
            label(for="tittle") Title
            input.form-control(type="text", name="title", required="required")
        .form-group
            label(for="tittle") Description
            input.form-control(type="text", name="description", required="required")  
        .form-group
            label(for="tittle") Author
            input.form-control-file(type="text", name="author", required="required")      

        button(class="btn btn-primary", type="submit") Update